<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TimeLapse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TimeLapse.Properties.Settings>
            <setting name="StartTime" serializeAs="String">
                <value>11/27/2013 05:00:00</value>
            </setting>
            <setting name="StopTime" serializeAs="String">
                <value>11/27/2013 18:00:00</value>
            </setting>
            <setting name="GrabFrequency" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="CameraURL" serializeAs="String">
                <value>http://192.168.0.20/snapshot.cgi?chan=0</value>
            </setting>
            <setting name="UploadURL" serializeAs="String">
                <value>http://test.everinview.com/</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value>C:\Users\ssessner\Pictures\TimeLapse</value>
            </setting>
        </TimeLapse.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.18.0" newVersion="2.2.18.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>