<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeLapse_Core.CoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TimeLapse_Core.CoreSettings>
            <setting name="StartTime" serializeAs="String">
                <value>11/27/2013 05:00:00</value>
            </setting>
            <setting name="StopTime" serializeAs="String">
                <value>11/27/2013 18:00:00</value>
            </setting>
            <setting name="GrabFrequency" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="UploadURL" serializeAs="String">
                <value>http://test.everinview.com/</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value>""</value>
            </setting>
        </TimeLapse_Core.CoreSettings>
    </applicationSettings>
</configuration>