<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="DefaultHeader" value="${newline}${longdate}:Started ${processname} on Machine:${machinename}"/>

  <variable name="DefaultFooter" value="${longdate}.Application terminating.           
            ProcessName=${processinfo:property=ProcessName}${newline}
						AssemblyVersion=${assembly-version}
            Memory Summary:
            MinWorkingSet=${processinfo:property=MinWorkingSet}
            MaxWorkingSet=${processinfo:property=MaxWorkingSet}
            PeakVirtualMemorySize=${processinfo:property=PeakVirtualMemorySize}
            PeakWorkingSet=${processinfo:property=PeakWorkingSet}
            PrivateMemorySize=${processinfo:property=PrivateMemorySize}
            TotalProcessorTime=${processinfo:property=TotalProcessorTime}
            UserProcessorTime=${processinfo:property=UserProcessorTime}
            VirtualMemorySize=${processinfo:property=VirtualMemorySize}
            WorkingSet=${processinfo:property=WorkingSet}
            "/>

  <variable name="DefaultLayout" value="[${logger:shortName=true}-${level}]${time}. [${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true}] : ${message}
          ${exception:innerFormat= Method, StackTrace:maxInnerExceptionLevel=3:innerExceptionSeparator=Inner->
           :separator=->:format=Message, ShortType, Method, StackTrace}"/>

  <variable name="LegitLayout" value="${processid}|${longdate}|${level:uppercase=true}|${event-context:item=Context}|${logger}|${message}"/>

  <targets async="true">
    <!-- add your targets here -->
    <target xsi:type="File" name="log" fileName="${specialfolder:folder=ApplicationData}/logs/${shortdate}.txt" archiveEvery="Day"
      header="${DefaultHeader}"
      layout="${DefaultLayout}"
      footer="${DefaultFooter}"/>
    <target xsi:type="File" name="legit" fileName="${specialfolder:folder=ApplicationData}/logs/legit/${shortdate}.log" archiveEvery="Day" 
      layout="${LegitLayout}"/>
    <target xsi:type="NLogViewer"
      name="sentinel"
      address="udp://192.168.24.22:9999"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="log"/>
    <logger name="*" minlevel="Trace" writeTo="legit"/>
    <logger name="*" minlevel="Trace" writeTo="sentinel"/>
  </rules>
</nlog>